.testClass{
    font-weight:bold;
    color: red;
}

.heading{
  margin-left: 37%;
  margin-bottom: 2%;
  text-decoration: solid;
  color: rgba(0, 0, 128, 0.94)
}

.errorText{
  margin-left: 35%;
  margin-bottom: 2%;
  text-decoration: solid;
  color: red
}

.tableData{
    margin-left: 10%;
    margin-right: 10%;
}

hr.line{
  border-top: 2px dashed red;
  margin-left: 7%;
  margin-right: 7%;
}

.btnLink{
  border: 2px solid rgba(0, 0, 128, 0.94);
  border-radius: 5px;   
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3px;
  margin-left: 12%;
  font-size: 16px;
  font-weight: 700;
  background-color:white;
  color: rgba(0, 0, 128, 0.94)
}

.links{
  margin-left: 7%;
  font-size: 20px;
}