.box{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 10px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

hr.line{
    border-top: 2px dashed red;
}

.labels{
    margin-left: 10px;
    font-weight: bold;
}
