.box{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 10px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.labels{
    margin-left: 10px;
    font-weight: bold;
}

hr.line{
    border-top: 2px dashed red;
}

.info{
    font-size: 18px;
    color: rgba(0, 0, 128, 0.94);
}

.add{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 5px;   
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3px;
    margin-left: 45%;
    font-size: 16px;
    font-weight: 700;
    background-color:white;
    color: rgba(0, 0, 128, 0.94)
}

.add:hover{
    background-color: rgba(0, 0, 128, 0.94);
    color:white;
    border-color: rgba(0, 0, 128, 0.94);
}