.box{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 10px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 3%;
    margin-right: 5%;
}

.add{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 5px;   
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3px;
    margin-left: 45%;
    font-size: 16px;
    font-weight: 700;
    background-color:white;
    color: rgba(0, 0, 128, 0.94)
}

.add:hover{
    background-color: rgba(0, 0, 128, 0.94);
    color:white;
    border-color: rgba(0, 0, 128, 0.94);
}

.spans{
    font-size: 16px;
    font-weight: 700;
    margin-left: 3%;
    margin-right: 2%;
}

.employeespans{
    margin-top: 2%;
    font-size: 16px;
    font-weight: 700;
    margin-left: 6.5%;
    margin-right: 2%;
}

.employeeSal{
    margin-top: 4px;
}

.inputfields{
    margin-bottom: 1%;
}

hr.line{
 border-top: 2px dashed red;
}

.tableData{
    margin-left: 10%;
    margin-right: 10%;
}

input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
      }